.container {
    display: flex;
    width: 100%;
    margin-top: 5rem;

    @media screen and (min-width: $desktop) {
        min-height: 100vh;
    }
}

.row {
    display: flex;
    width: 100%;

    &-cols {
        &-6 {
            .col {
                display: flex;
                width: 50%;
                height: 20vh;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
        &-12 {
            width: 100%;
            min-height: 20vh;
            background: $color-light-grey;
        }
    }
}

