.footer {
    background-color: $color-black;
    color: $color-white;
    padding: 2rem;

    &-inner {
        display: flex;
        justify-content: space-between;
    }

    &-branding {
        display: flex;
        fill: $color-white;

        svg {
            width: 2.5rem;
        }
    }
}