.header {
    flex-direction: row;
    flex: 1 100%;
    line-height: 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: $color-teal;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;

    &-inner {
        height: 5rem;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__logo,
    &__menu,
    &__login {
        display: flex;
        align-items: center;
        height: 2.5rem;

        svg {
            height: inherit;
            fill: $color-white;

        }

        &:hover {
            cursor: pointer;

            svg {
              fill: $color-off-white;
            }
        }
    }

    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__login {
        color: $color-white;
        order: 2;
    }

    &__menu {
        order: 1;

        @media screen and (min-width: $phablet) {
            display: none;
        }
    }

    .navbar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: inherit;
        box-shadow: 0 0 2px black;
        z-index: 2;
        padding: 0 2rem;


        svg {
            width: auto;


            @media screen and (min-width: $phablet) {
                width: 2.2rem;
                max-width: 2.2rem;
            }
        }

        @media screen and  (min-width: $phablet){
            justify-content: flex-end;
        }
    }
}