@import './footer';
@import './header';
@import './content';

.app {
    width: 100%;
}

main {
    display: flex;
    width: 100%;
}

canvas {
    width: auto !important;
    max-width: 100%;
}

#blockColorblindContent {
    display: none;
}