.sidebar {
    min-width: 50%;
    color: $color-white;
    background: $color-teal-dark;
    display: none;

    @media all and (min-width: $phablet) {
        display: block;
        min-width: 20%;
    }

    &-inner {
        width: 100%;
        a {
            &:hover, &:focus, &:active {
                color:#fff
            }
        }
    }

    .nav {
        position: fixed;
        min-width: 50%;

        @media all and (min-width: $phablet) {
            min-width: 20%;
        }

        &-item {
           list-style: none;
           font-size: 1.4rem;
           line-height: 2.8rem;

           border-bottom:  solid 1px darken($color-teal, 14%);




            @media screen and (min-width: $tablet) {
                font-size: 1rem;
            }
        }

        &__icon {
            padding-right: .8rem;
            height: 1rem;
            display: flex;
            align-items: center;

            svg {
                height: inherit;
                fill: $color-white;
            }
        }

        &-link {
            font-size: inherit;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;
            padding: 0 1rem;

             &:hover, &.active {
               background: $color-light-teal;
            }

            &.active {
                text-decoration: none;
                color: white;
            }
        }
    }

    &.open {
        display: block;
    }
}