.login {
    min-height: 100vh;

    &-form {
        min-width: 300px;
        width: 100%;

        form {
            text-decoration: none;
            overflow: hidden;

            max-width: 100%;
            height: 100%;
            width: 100%;

            label {
                display: flex;
                line-height: 2rem;
                cursor: default;
            }

            input {
                display: flex;
                line-height: 1rem;
                border-style: none;
                border-bottom: solid $color-green 1px;
                background: $color-white;
                color: $color-black;
                padding: 0.3rem;
                width: 100%;
                margin-bottom: 1rem;

                &:focus {
                    outline: none;
                }

                @media screen and (max-width: $tablet) and (orientation: landscape) {
                    max-width: 60%;
                }
            }

            .link {
                margin: 1rem 0;
            }
        }

        @media screen and (min-width: $tablet){
            margin-right: 4rem;
        }

        @media screen and (max-width: $tablet) and (orientation: landscape) {
            max-width: 60%;
            width: 100%;
            margin-right: 2rem;
        }
    }

    &-image {
        display: none;
        align-items: center;
        flex: 1 1 auto;
        padding: 1rem;
        max-width: 30%;

        svg {
            max-width: 62rem;
            height: fit-content;
        }

        @media only screen and (min-width: 768px) {
            display: flex;
            max-width: 100%;
            width: 100%;
        }
    }

    .card {
        &-body {
            max-height: 50%;
            align-items: center;
            justify-content: center;
            width: 100%;

            @media screen and (min-width: $tablet) {
                max-height: 80%;
                width: auto;
            }
        }
    }

    .btn {
        &-group {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 2rem;

            @media screen and (min-width: $tablet) {
                position: relative;
                width: auto;
                padding: 0;
            }
        }
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}