.form {
    &_button {
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 5rem;

        @media screen and (min-width: $tablet) {
            position: relative;
            width: $min_width_button;
        }
    }

    &__input {
        &-field {
            width: 100%;

            @media screen and (min-width: $tablet) {
                width: auto;
            }
        }
    }

    .btn {
        margin-bottom: 1rem;

        @media screen and (min-width: $tablet) {
            margin-bottom: 0;
        }
    }

    .row:not(:last-child) {
        margin-bottom: 1rem;
    }

}

.invalid-tooltip {
    color: #FF0000;

    @media screen and (min-width: $tablet){
        position: absolute;
    }
}