.current-tile {
    padding: 0.1rem;
    border-radius: .5rem;
    flex: 1 0 0;
    display: flex;
    justify-content: center;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border: 3px solid $color-teal;
        border-radius: 50%;
        width: 7rem;
        height: 7rem;
        font-size: 1rem;

        &.high {
            border-color: darkred;
        }

        &.low {
            border-color: darkblue;
        }

        @media screen and (min-width: 768px) {
            width: 10rem;
            height: 10rem;
        }
    }

    &__value ,
    &__resource {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        line-height: 1;
    }

    &__value {
        color: $color-teal;
        font-size: 1.6rem;
        line-height: 2rem;

        &.high {
            color: darkred;
        }

        &.low {
            color: darkblue;
        }
    }
}