.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem !important;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    color: $color-white;
    font-weight: bold;
    width: 100%;
    max-height: 5rem;
    min-width: $min_width_button;
    border-radius: 0.2rem;
    border: solid $color-green 0.1rem;
    margin-bottom: 1rem;

    &:hover {
        background: $color-white;
        color: $color-green;
        border: solid $color-green 0.1rem;
        cursor: pointer;
    }

    &.white {
        background: $color-white;
        color: $color-green;
        border: solid $color-green 0.1rem !important;

        &:hover {
            background: $color-green;
            color: $color-white;
        }
    }

    &-primary {
        background-color: $color-green !important;
        border: solid $color-green 0.1rem !important;

        &:hover {
            background-color: $color-white !important;
            border: solid $color-green 0.1rem !important;
            color: $color-green !important;
            cursor: pointer;
        }
    }

    &-group {
        width: 100%;

        .btn {
            @media screen and (min-width: $tablet) {
                min-width: 10rem;
            }
        }

        @media screen and (min-width: $tablet) {
            display: flex;
            justify-content: space-between;
            width: auto;

            & :first-child {
                margin-right: .5rem !important;
            }
            & :last-child {
                margin-left: .5rem !important;
            }
        }
    }

    @media screen and (min-width: $tablet) {
        width: 6rem;
        margin-bottom: 0;
        padding: 1rem !important;
    }
}

.link {
    text-decoration: none;
    color: $color-green;

    &:hover {
        color: $color-light-teal;
        font-weight: 600;
    }
}