.card {
    background: transparent;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border: none !important;

    &-body {
        display: block;
        align-items: center;
        justify-content: space-around;
        align-items: center;
        flex: 1;

        @media screen and (min-width: $tablet) {
            display: flex;
            margin: 0 0 3rem;
        }
    }

    &-container {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;

        .row {
           margin-bottom: 1rem;
        }
    }

    &-footer {
        width: 100%;
        background-color: #fff !important;
        border: none !important;
        position: fixed;
        bottom: 0;

        .btn-group {
            display: block;
        }

        @media screen and (min-width: $tablet) {
            width: 40%;
            align-self: start;
            position: relative;

            .btn-group {
                display: flex;
            }
        }
    }

    &-header {
        display: flex;
        justify-content: space-between;
        background-color: #fff !important;
        border: none !important;
        width: 100%;
    }

    &_inner {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &_section {
        display: flex;
        flex-direction: column;
        flex: 2 1 auto;


        @media screen and (min-width: $tablet) {
            flex-direction: row;
        }
    }

    &-subtitle {
        line-height: 5rem;
        font-size: 1.6rem;
    }

    &_title {
        display: flex;
        font-size: 2rem;
        color: $color-black;
        font-weight: bold;
        min-width: 100%;
        padding-bottom: 2.4rem;
    }

    @media screen and (min-width: $tablet) {
        padding: $padding;
        height: auto;
    }
}
