* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-size: $font-size;
  }

  body {
    margin: 0;
    font-family: 'Libre Franklin',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:  $color-teal;
  }
