@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

p,
label,
textarea,
input,
button,
a,
div {
    font-size: 1.6rem;

    @media screen and (min-width: $desktop) {
        font-size: 1.2rem;
    }
}