$color-teal: #00796B;
$color-light-teal: #009688;
$color-bright-teal: #B2DFDB;
$color-teal-dark: darken($color-teal, 15%);
$color-white: #FFFFFF;
$color-off-white: #EfEFEF;
$color-green: #4CAF50;
$color-black: #212121;
$color-grey: #757575;
$color-light-grey: #BDBDBD;
$color-red: #FF0000;


$font-size: 10px;

/* Screen sizes  Mobile is default */
$phablet: 650px !default;
$tablet: 769px !default;
$desktop: 1040px !default;
$Larger: 1440px !default;

/* Button default sizes*/
$min_width_button: 15*$font-size;


$padding: 2*$font-size;